<div class="container pb-3">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Dispositivos</h3>
        </div>

        <div class="card-body">
            <table class="table border table-hover">
                <thead>
                    <tr class="text-center font-weight-bold">             
                        <td>ID</td>
                        <td>Tipo</td>
                        <td>Etiqueta</td>
                        <td>Fabricante</td>
                        <td>Acciones</td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let device of devices" class="text-center">
                        <td>{{device.id}}</td>
                        <td>{{device.type}}</td>
                        <td>{{device.label}}</td>
                        <td>{{device.manufacturer}}</td>
                        <td>
                            <button (click)="Editar(device)" class="btn btn-warning mx-1">Editar</button>
                            <button (click)="Delete(device)" class="btn btn-danger mx-1">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>